
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    scroll-behavior: smooth;
}
header{
    position: relative;
    background-image: url("img/header_bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}